.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__colorPick {
    width: 500px;
    height: 80px;
    margin: 10px;
    background-color: cornsilk;
}

.main__colorPick2 {
    width: 500px;
    height: 300px;
    margin: 10px;
    background-color: cornsilk;
}

.colorWrap {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.colorWrap div {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.main__smallBox {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: cornsilk;
}