.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: cadetblue;*/
    width: 100%;
    height: 100px;
}

.footer__show {
    background-color: black;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: 70%;
    color: #F2F5A9;
}

.footer__code {
    background-color: aliceblue;
}

.footer__copy {
    width: 50px;
    height: 30px;
    background-color: aliceblue;
    margin: 10px;
}

.footer__altert {
    font-weight: bold;
    font-size: 15px;
}

.footer__else {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .footer__else {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .footer {
        flex-direction: column;
        height:150px;
    }
    .footer__show {
        margin: 3px;
    }
}
/*
@media screen and (max-width: 460px) {
    .footer__input {
        width: 170px;
    }
    .footer__code {
        width: 140px;
    }
}
*/