.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

}

.footer__show {
    background-color: black;
    border-radius: 5px;
    overflow: auto;
    margin: 3px;
    padding: 5px;
    width: 200px;
    height: 70%;
    color: #F2F5A9;
}

.footer__else {
    display: flex;
    flex-direction: column;
        margin-bottom: 10px;
}


.footer__show__img {
    display: flex;
    height: 130px;
    align-items: center;
}

.footer__code {
    background-color: aliceblue;
}

.footer__copy {
    width: 50px;
    height: 30px;
    background-color: aliceblue;
    margin: 10px;
}

.footer__alert {
    font-weight: bold;
    font-size: 15px;
    color: red;
}